body{
    background-color: rgb(235, 228, 228);
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-container{
    margin-top: 100px;
    height: 500px;
    width: 500px;
    background-color: white;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* flex-direction: column; */
}
h1{

}